{
  "plugins": [
     "transform-runtime",
     "transform-react-jsx",
     "transform-class-properties"
  ],
  "presets": [
   [
     "es2015",
     {
       "modules": false
     }
   ],
   "react"
 ],
 "env": {
    "development": {
      "presets": [
        "react-hmre"
      ]
    }
  }
}
