/* === Buttons === */
@import "~theme/vars";

.button {
  text-decoration: none;
  text-align: center;
  display: inline-block;
  height: 80px;
  line-height: 78px;
  box-sizing: border-box;
  appearance: none;
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 28px;
  font-family: inherit;
  padding: 0 48px;
  position: relative;
  overflow: hidden;
  outline: 0;
  transition: 0.3s;
  user-select: none;
  border-width: 1PX;
  border-style: solid;
  border-radius: 6px;
  .component-color(button, true);
  // disabled
  &.button-disabled {
    &,
    &.active,
    &:active,
    &:hover {
      cursor: not-allowed;
    }
  }
  // size
  &.button-small {
    height: 56px;
    line-height: 54px;
    font-size: 24px;
    padding: 0 36px;
    border-radius: 4px;
  }
  // radius
  &.button-radius {
    border-radius: 160px;

    &::after {
      border-radius: 160px;
    }
  }
  // full
  &.button-full {
    width: 100%;
  }

  &.button-icon {
    width: 64px;
    height: 64px;
    line-height: 64px;
    padding: 0;
    border-radius: 50%;
    color: darken(@textColor, 5%);

    &::after {
      border-radius: 50%;
      border-color: #999;
    }

    &:not(.button-disabled):active {
      color: #fff;
      background: darken(#fff, 20%);
    }

    &.button-small {
      height: 54px;
      width: 54px;
      line-height: 54px;
    }
  }
}

.buttons-row {
  display: flex;
  align-self: center;
  flex-wrap: nowrap;
  justify-content: flex-start;

  .button {
    & + .button {
      margin-left: 16px;
    }
  }
}
