/* === Content Block === */
@import "../../theme/vars";
@contentBlockPrefixCls: ~"@{prefix}content-block";

.@{contentBlockPrefixCls} {
  margin: 64px 0;
  padding: 0 @blockPadding;
  box-sizing: border-box;

  .list-block {
    margin-top: 0;
  }
}

.@{contentBlockPrefixCls}-title {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 24px;
  margin: 24px 26px;
  padding-top: 22px;
  line-height: 32px;
  font-weight: 500;
  color: #959595;

  & + .@{contentBlockPrefixCls}, .list-block{
    margin-top: 0;
  }
}
